<!--
Need to add deadline and notification stuff
-->

<html>
<head>
</head>
<body bgcolor="#000055" text="#2299ff">
<center>
Select Reviewers &nbsp; Select Files
<br/>
<form>
	<select multiple>
		<option>
			Swarley
		</option>
		<option>
			Billiam
		</option>
		<option>
			Code Monkey
		</option>
		<option>
			0xDEADBEEF
		</option>
	</select>
	&nbsp;&nbsp;&nbsp;
	<select multiple>
		<option>
			foo.cs
		</option>
		<option>
			bar.py
		</option>
		<option>
			tru.dat
		</option>
	</select>
	<br/>
	<button>
		Add Reviewer(s)
	</button>
	<button>
		Add File(s)
	</button>
	<p/>
	
	
	Current Reviewers &nbsp; Current Files
<br/>
<form>
	<select multiple>
		<option>
			Swarley
		</option>
		<option>
			Code Monkey
		</option>
	</select>
	&nbsp;&nbsp;&nbsp;
	<select multiple>
		<option>
			tru.dat
		</option>
	</select>
	<br/>
	<input type="checkbox">I want to add focus items
	<p />
	Describe your request &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
	Select relevant code (file.ext)
	<br />
	<textarea rows="6" cols="20">
Elements created here with matching "requests" could be clumped into one focus list item.</textarea>
	<textarea rows="10" cols="50">[display contents of highlighted "current file"]</textarea>
	<br/>
	<button>Add focus item </button>
	<p/>
	<input type="checkbox" value="Allow observers">Allow observers
	</br>
	<button>
		Create Code Review
	</button>
</form>
</center>
</body>
</html>
